body {
  background-color: #717171;
  font-family: arial;
  font-size: 40px;
  margin: 25px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

td {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  padding: 0px;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

.current {
  background-color: lightcoral;
}

.prev {
  background-color: lightskyblue;
}

.start {
  background-color: lightskyblue;
  border-left-color: lightskyblue !important;
}

.end {
  background-color: lightskyblue;
  border-right-color: lightskyblue !important;
}

[id='0000'] {
  border: 0px;
}

[id='0001'] {
  border-right: 3px solid;
}

[id='0010'] {
  border-left: 3px solid;
}

[id='0011'] {
  border-left: 3px solid;
  border-right: 3px solid;
}

[id='0100'] {
  border-bottom: 3px solid;
}

[id='0101'] {
  border-bottom: 3px solid;
  border-right: 3px solid;
}

[id='0110'] {
  border-bottom: 3px solid;
  border-left: 3px solid;
}

[id='0111'] {
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
}

[id='1000'] {
  border-top: 3px solid;
}

[id='1001'] {
  border-top: 3px solid;
  border-right: 3px solid;
}

[id='1010'] {
  border-top: 3px solid;
  border-left: 3px solid;
}

[id='1011'] {
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
}

[id='1100'] {
  border-top: 3px solid;
  border-bottom: 3px solid;
}

[id='1101'] {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
}

[id='1110'] {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-left: 3px solid;
}

[id='1111'] {
  border: 3px solid;
}
